/* Add your CSS styles here */
body {
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
  /* Dark gray background */
  color: #f0f0f0;
  /* Light gray text */
  background-image: url('./wall.jpg');
  background-repeat: no-repeat;
  background-size: 100dvw 100dvh;
  background-attachment: fixed;
  padding: 2vw 2vh 2vw 2vh;
  padding-top: 12vh;

  scrollbar-width: thin;
  scrollbar-color: linear-gradient(to bottom, #000, #1e90ff, #000) #000;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #000;
  /* Same as the background color */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #000, #1e90ff, #000);
}


header {
  position: fixed;
  padding-top: 2vh;
  top: 0;
  width: 100%;
  background: linear-gradient(to left, transparent, #000);
  z-index: 10;
  /* Ensure the header is above other content */
  /* max-height: 12vh; */
}

main{
  margin-top: 5vh;
}

h1 {
  color: #007BFF;
}

.stickysection {
  position: sticky;
  /* top: auto; */
  /* background: #000; */
  z-index: 9;
  margin: 2% 0 2% 0;
  /* Ensure the header is above other content */
  width: 90vw;
}

h2 {
  color: #80d4ff;
  /* Light blue link color */
  overflow: hidden;
  /* height: 2vw; */
  width: 100%;
}

li {
  list-style-type: none;
  margin-bottom: 3px;
  padding: 2px;
  border: 1px solid #1b1b1b;
  /* Darker gray border */
  border-radius: 5px;
  background-color: #1b1b1b;
  /* Slightly lighter gray background */
  color: #f0f0f0;
  /* Light gray text */
  width: auto;
  display: flex;
  float: left;
  height: 2vw;
  /* center text vertically */
  align-items: center;
}

a {
  color: #80d4ff;
  /* Light blue link color */
  text-decoration: none;
  display: inline-block;
  width: 600px;
  /* Replace 100px with your desired fixed width */
  padding: 2px;
  padding-left: 5px;
}

button {
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.deleteBtn {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #1b1b1b;
  /* Red background color */
  color: #fff;
  /* White text color */
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #2b2b2b;
  /* Darker red on hover */
}

.editable-rating {
  width: 50px;
  margin-left: 5px;
  border: 1px solid #1b1b1b;
  /* Light gray border */
  border-radius: 5px;
  padding: 2px;
  color: #f0f0f0;
  /* Light gray text */
}

.animeSectionClass {
  /* background-color: #3b3b3b; Slightly lighter gray background */
  color: #f0f0f0;
  /* Light gray text */

  position: relative;
  overflow: hidden;
  max-height: 300px;
  /* background: linear-gradient(to top, #000, transparent); */
  min-width: 95vw;
}

.animeSectionClass.masked::after {
  color: #f0f0f0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  pointer-events: none;
}

input {
  background-color: #2b2b2b;
  /* Slightly lighter gray background */
  color: #f0f0f0;
  /* Light gray text */
  border: 1px solid #2b2b2b;
  /* Darker gray border */
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  height: 100%;
  font-size: 0.9vw;
  min-width: 3vw;
}

.block {
  /* display: inline-block; */
  width: 90vw;
  padding: 0vh 15vw 0vh 0vw;
}

span {
  display: block;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  color: #f0f0f0;
  /* Light gray text */
  background-color: #1b1b1b;
  /* Slightly lighter gray background */
  padding: 3px;
  /* padding-left: 10px;
  padding-top: 10px; */
  border-radius: 5px;
}

/* .animeSection {
  position: relative;
  overflow: hidden;
  max-height: 300px;
} */

/* .animeSection::after  {
  overflow: hidden;
  background: linear-gradient(to bottom, #1b1b1b, #000);
  max-height: 300px;
} */

/* .animeSection::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000, transparent);
  pointer-events: none; 
} */

.expandBtn {
  position: absolute;
  bottom: 0;
  z-index: 7;
  /* Set a higher z-index value */
  margin-bottom: 0px;
  margin-left: 0;
  padding: 2px;
  /* border: 1px solid #1b1b1b;  */
  border-radius: 5px;
  background: linear-gradient(to top, #000, transparent);
  color: #f0f0f0;
  /* Light gray text */
  width: auto;
  display: flex;
  float: left;
  height: 50px;
}

.expandBtn:hover {
  background: linear-gradient(to top, #000, transparent);
}

.animeCollapseBtn {
  display: none;
  background: #000;
}

.expandBtnSpan {
  background-color: transparent;
  /* Slightly lighter gray background */
}

.dropdown {
  position: relative;
  display: inline-block;
  /* width: fit-content; */
}

.dropdown2{
  position: relative;
  display: inline-block;
  /* width: fit-content; */

}

.dropdown button {
  background-color: linear-gradient(to right, #000, transparent);
  width: 100%;
  padding: 6px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(to right, #000, transparent);
  width: 300%;
  /* max-width: 95%; */
  /* overflow-x: auto; */
  /* Add gradient colors to scrollbar */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
  z-index: 1;
  /* float: left; */
  /* Beautify dropdown boundary */
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  /* background-color: #1b1b1b; */
  /* padding: 5px; */

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: royalblue #f9f9f9;
  overflow: visible;
  /* Change to match your design */
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background: linear-gradient(to right, #000, transparent);
  width: 300%;
  /* max-width: 95%; */
  /* overflow-x: auto; */
  /* Add gradient colors to scrollbar */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  padding: 12px 16px;
  z-index: 1;
  /* float: left; */
  /* Beautify dropdown boundary */
  border: 1px solid #1b1b1b;
  border-radius: 5px;
  /* background-color: #1b1b1b; */
  /* padding: 5px; */

  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: royalblue #f9f9f9;
  overflow: visible;
  /* Change to match your design */
}

.sectionButton{
  background-color: #1b1b1b;
}

.addPropBtnDiv {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  /* Add gradient colors to scrollbar */
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* padding: 12px 16px; */
  z-index: 1;
}

/* For Chrome, Safari and Opera */
.dropdown-content::-webkit-scrollbar {
  height: 5px;
}

.dropdown-content::-webkit-scrollbar-track {
  background: #f9f9f9;
  /* Change to match your design */
}

.dropdown-content::-webkit-scrollbar-thumb {
  background: #007BFF;
  /* Change to match your design */
  /* border-radius: 5px; */
}

.dropdown-content label {
  display: flex;
  align-items: left;
  justify-content: left;
  white-space: nowrap;
  /* Add this line */
}

.dropdown-content input {
  float: left;
}

.dropdown:hover .dropdown-content {
  display: inline-block;
}

.dropdown2:hover .dropdown-content2 {
  display: inline-block;
}

.dropdown:hover .addPropBtnDiv {
  display: inline-block;
}

#delPropBtn {
  background-color: #500;
  border: 1px solid #900;
  padding: 6px;
}

#delPropBtn:hover {
  background-color: #222;
}

.propertySpan {
  max-width: 150px;
  overflow-x: hidden;
}

.watched-checkbox{
  min-width: 0.8vw;
  width: 1.0vw;
}

.dropspan{
  padding: 0.5vw 0.5vh;
  margin: 0.5vw 0.5vh;
  margin-left: -1vw;
}

.horview{
  display: inline-flex;
  position: relative;
  margin: 0.5vw 0.5vh 0.5vw 0.5vh;
  height: 200px;
  width: 200px;
  z-index: 1;
  /* white border */
  /* border: 1px solid #ebebeb; */
  left: 0;
}

.hoverDivBG{
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
}

.horview:hover .hoverDivBG{
  display: block;
}

.horview input{
  /* display: none; */
  max-width: 20px;
  max-height: 20px;
  float: inline-end;
  display: block;
  margin-top: 120px;
  border: 1px solid #1b1b1b;
  background-color: rgba(0, 0, 0, 0.7);
}

.horview a{
  display: block;
  position: absolute;
  padding: 1vw;
  float: inline-start;
  display: inline-flex;
  max-width: 180px;
  /* make everything go left and top */
  /* position: relative; */
  margin-bottom: 120px;
  color: #f0f0f0;
  /* make text stroke */
  -webkit-text-stroke: 1px #fff;
  text-shadow: 1px 1px 1px #000;
  /* translucent background */
  background: rgba(0, 0, 0, 0.5);

}

.horview button {
  /* display: none; */
  position: absolute;
  margin-left: 32px;
  margin-top: 175px;
  background-color: rgba(0, 0, 0, 0.7);
}

.horview .deleteBtn{
  margin-left: 102px;
}

.horview span{
  display: none;
}

.updateAnimeForm{
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  /* Slightly lighter gray background */
  color: #f0f0f0;
  /* Light gray text */
  border: 1px solid #1b1b1b;
  /* Darker gray border */
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 0.9vw;
  min-width: 3vw;
  width: 50%;
  top: 25%;
  z-index: 1000;
  left: 25%;
  float: left;
}

.propertyLabelFormUpdate{
  display: inline-flex;
  width: 25%;
  /* text-align: top; */
  padding: 1vh 0 1vh 0;
  margin: 1vh 0 1vh 0;
  left: 0;
}

/* text content of .propertyLabelFormUpdate */
.propertyInputFormUpdate{
  display: inline-flex;
  width: 70%;
  text-align: center;
  padding: 1vh 0 1vh 0;
  margin: 1vh 0 1vh 0;
}

.propertyInputFormUpdate{
  display: inline-flex;
  width: 70%;
  text-align: center;
  padding: 1vh 0 1vh 0;
  margin: 1vh 0 1vh 0;
}

.fadeBackground{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}