<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Anime Database</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href= '{{ url_for("static", filename="styles.css") }}'
</head>

<body>
  <header>
    <h1>Anime Database</h1>
    <button id="addAnimeBtn">Add Anime</button>
    <button id="loadDataBtn">Load Anime</button>
    <button id="saveDataBtn">Save Anime</button>
    <button id="resetLocal">Reset Local</button>
    Filter <input id="filter"></input>
    <!-- Add a drop down menu to select from to add more proeprties to animeSection -->
    <div class="dropdown">
      <button class="dropbtn">&nbsp;&nbsp; Shown Properties &nbsp; &nbsp; </button>
      <div class="dropdown-content">
        <!-- Add more checkboxes as needed -->
      </div>
      <!-- button to add new properties to dropdown -->
      <div class="addPropBtnDiv"><button id="addPropBtn">Add Property</button></div>
    </div>
    
    <button id="delPropBtn"> Delete Property </button>
    <!-- option to hide recently watched animes -->
    <div class="dropdown">
      <button class="dropbtn">&nbsp;&nbsp; Options &nbsp; &nbsp; </button>
      <div class="dropdown-content">
        <!-- Add more checkboxes as needed -->
        <input type="checkbox" id="hideRecent" name="hideRecent" value="hideRecent">
        <label for="hideRecent">Shift Recently Watched</label>
        </br>
        <input type="checkbox" id="horviewstyle" name="horviewstyle" value="horviewstyle">
        <label for="horviewstyle">Horizontal View</label>
        
        <div class="dropdown2">
          <span class="dropspan">&nbsp;&nbsp; SortBy &nbsp; &nbsp; </span>
          <div class="dropdown-content2" id = "sortBy">
            <!-- Add more checkboxes as needed -->
            <input type="radio" id="rating" name="sortBy" value="rating" checked>
            <label for="sortRating">Sort By Rating</label>
          </br>
            <input type="radio" id="lucifer" name="sortBy" value="lucifer">
            <label for="sortLucifer">Sort By Lucifer</label>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="block">
      <div class="stickysection">
        <h2>Long <button id="longButton">Hide</button><button class="longCollapseBtn fas fa-angle-double-up"></button>
        </h2>
      </div>
      <div id="longSection" class="animeSection masked">
        <ul id="longList"></ul>
      </div>
    </div>
    <div class="block">

      <div class="stickysection">
        <h2>Short <button id="shortButton">Hide</button><button
            class="shortCollapseBtn fas fa-angle-double-up"></button></h2>
      </div>
      <div id="shortSection" class="animeSection masked">
        <ul id="shortList"></ul>
      </div>

    </div>
    <div class="block">

      <div class="stickysection">
        <h2>Inactive <button id="inactiveButton">Hide</button><button
            class="inactiveCollapseBtn fas fa-angle-double-up"></button></h2>
      </div>
      <div id="inactiveSection" class="animeSection masked">
        <ul id="inactiveList"></ul>
      </div>
    </div>

    <!-- <div class="editAnimePopup" id="editAnimePopupId">
    </div> -->

  </main>
  <script type='text/javascript' src='{{ url_for("static", filename="script.js") }}'></script>
</body>

</html>